<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
     <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
 <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
 <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body style="width: 90%;margin: 0 auto">

<table class="table" style="margin-top: 40px">


  <h4>age</h4>
 <tbody>
    <tr>

        {% for foo in agelist %}
            {% if foo.age %}
               <th>{{ foo.age }}</th>
        <td>{{ foo.count }}</td>
            {% endif %}

        {% endfor %}
    </tr>
    </tbody>
</table>

  <h4>shift</h4>
<table class="table" style="margin-top: 20px">
<tbody>
    <tr>
        {% for foo in shiftlist %}
        <th>{{ foo.shift }}</th>
        <td>{{ foo.count }}</td>
        {% endfor %}
    </tr>
  </tbody>
</table>

  <h4>Primary Fur Color</h4>
<table class="table" style="margin-top: 20px">
<tbody>
    <tr>
        {% for foo in primary_fur_colorlist %}
        <th>{{ foo.primary_fur_color }}</th>
        <td>{{ foo.count }}</td>
        {% endfor %}
    </tr>
  </tbody>
</table>

  <h4>Date</h4>
<table class="table" style="margin-top: 20px">
<tbody>
    <tr>
        {% for foo in datelist %}
        <th>{{ foo.date }}</th>
        <td>{{ foo.count }}</td>
        {% endfor %}
    </tr>
  </tbody>
</table>
  <h4>Runing</h4>
<table class="table" style="margin-top: 20px">
<tbody>
    <tr>
        {% for foo in Runninglist %}
        <th>{{ foo.running }}</th>
        <td>{{ foo.count }}</td>
        {% endfor %}
    </tr>
  </tbody>
</table>
  <h4>chasing</h4>
<table class="table" style="margin-top: 20px">
<tbody>
    <tr>
        {% for foo in chasinglist %}
        <th>{{ foo.chasing }}</th>
        <td>{{ foo.count }}</td>
        {% endfor %}
    </tr>
  </tbody>
</table>


</body>
</html>
